{% extends "base.html" %}
{% comment %}<link rel="stylesheet" href="{% static "css/index.css" %}">{% endcomment %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block index %}
    <div class="container">
       <div class="col-md-7">
           {% comment %} {% blocktrans %}
            <ul>
                <li><a href="/admin/">Log in to the admin interface</a></li>
                <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
                <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML
                    templates</a></li>
                <li>
                    <a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing
                        this homepage</a></li>
                <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked
                    questions</a></li>
                <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a>
                </li>
                <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
            </ul>
        {% endblocktrans %}{% endcomment %}
           <div id="myCarousel" class="carousel slide">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item"> <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=635×280&w=635&h=280" alt="First slide"></div>
                    <div class="item"> <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=635×280&w=635&h=280" alt="First slide"></div>
                    <div class="item"> <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=635×280&w=635&h=280" alt="First slide"></div>
                  </div>
                  <!-- Carousel nav -->
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
       </div>
        <div class="col-md-5">
           <div><span>新闻动态</span></div>
        </div>
    </div>
{% endblock %}

{% block tree_panel %}
{% endblock %}