body{
    padding-top: 0;
    font-family: "Microsoft YaHei","Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
}
li{
    list-style: none;
}
/*公共样式*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

.f_l{
    float: left;
}
.f_r{
    float: right;
}


.more{
    font-size: 12px;
}
.top-con{
    border: 1px solid #ccc;
    padding: 20px 0;
}
.element-title{
    background-color: #eeeeee;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
}
.list-content li{
    height: 30px;
    line-height: 30px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.list-content li span{
    color: #e50500;
}
.list-content li a{
    color: #3c3c3c;

}
.list-content li a:hover{
    color: #e50500;
}

.middle-con{
    padding: 20px 0;
}

.entrance{
    padding: 0 20px;
}
.entrance li{
    padding: 10px 0;
}
.footer-con>div{
    margin-bottom: 10px;
}


/*新闻列表页*/
.news-list-topContainer{
    color: #c3c3c3;
}
.news-list-title{
    margin: 0;
}
.news-list-title a{
    color: #333;
    font-weight: 700;
    font-size: 16px;
}
.news-edit-time{
    font-size: 12px;
    font-weight: normal;
}
.news-list-detailContainer a{
    font-size: 12px;
}
/*新闻列表页结束*/

/*新闻详情页*/
.news-detail-titleCoantainer{
    text-align: center;
}
.news-author{
    padding: 20px;
    border-bottom: 1px dashed #ccc;
}
/*新闻详情页结束*/